@font-face {
  font-family: "SFPro";
  src: url("../pages/fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SFProBOLD";
  src: url("../pages/fonts/SFPRODISPLAYBOLD.OTF");
}

.User {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "SFProBOLD";
  color:rgb(103, 101, 101);
  font-size: larger;
  padding: 20px;  
  padding-top: 10px;
}
body {
  padding: 0;
  margin: 0;
}

.tag {
  background-color: rgb(156, 255, 150);
  border-radius: 5px;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 50px;
  font-size: 10pt;
  text-align: center;
}

.tags {
  display: flex;
  align-items: start;

}

.close-button {
  cursor: pointer;
  background-color: rgb(156, 255, 150);
  margin-left: auto;
}