.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Title {
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 5em;
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-count:2;
  column-gap: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(200, 231, 210);
}

img {
  width: 100%;
  height:100%;
}

button {
  font-family: Verdana, sans-serif;
  border-color: darkgray;
  background-color: white;
  color: darkgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
}

button:hover{
  background-color: rgb(195, 235, 215);
}

.match-button button{
  font-family: Verdana, sans-serif;
  border-radius: 25px;
  border-width: 0;
  background-color: white;
  color: rgb(133, 131, 131);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: grab;
  padding: 20px 30px;
  margin: 20px;
}

.text {
  font-size: 5em;
}

.Users {
  display: flex;
  flex-direction: row;
}